*.log
*.aux
*.lof
*.lot
*.fls
*.fot
*.cb
*.cb2
*.out
*.toc
*.fmt

*.dvi
*.ps
*.pdf
.pdf

*.bbl
*.bcf
*.blg
*-blx.bib
*.run.xml

*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
